
.liu-background {
  position: relative;
  padding-bottom: 15rem; 
  background-color: #ddba20ff;

  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.08) 0,
      rgba(255, 255, 255, 0.08) 2px,
      transparent 2px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.08) 0,
      rgba(255, 255, 255, 0.08) 2px,
      transparent 2px,
      transparent 40px
    );
}

.liu-background::before {
  content: "LIU LIU LIU LIU LIU LIU LIU LIU LIU LIU";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(255, 255, 255, 0.1);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 30px;
  white-space: pre-wrap;
  line-height: 5;
  text-align: center;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  z-index: 0;
  background-repeat: repeat;
}
